<br><br>
<div id="table-perfil">

    <div class="perfil">
        <div class="titulo bg-white">
            <h1>Resultados generales Inretail</h1>
        </div>
        <div class="grafica uno">

            <div id="chart-demo">
                <dx-chart palette="Violet" [dataSource]="countriesInfo">
                    <dxi-series *ngFor="let energy of energySources" [valueField]="energy.value" [name]="energy.name">
                    </dxi-series>
                    <dxo-common-series-settings #seriesSettings argumentField="country" [type]="types[0]">
                    </dxo-common-series-settings>
                    <dxo-margin [bottom]="20"></dxo-margin>
                    <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
                        <dxo-grid [visible]="true"></dxo-grid>
                    </dxo-argument-axis>
                    <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="bottom">
                    </dxo-legend>
                    <dxo-title text=".">
                        <dxo-subtitle text="Tendencia general de los ultimos 6 meses (soles)"> </dxo-subtitle>
                    </dxo-title>
                    <dxo-export [enabled]="true"></dxo-export>
                    <dxo-tooltip [enabled]="true"></dxo-tooltip>
                </dx-chart>
            </div>

        </div>
        <div class="table1">
            <table class="table table-borderless bg-white">
                <thead>
                    <tr>
                        <th><img src="../../../../../assets/recursos/711170.png" alt=""> DISTRITOS</th>
                        <th>YTD ANT</th>
                        <th>YTD ACT</th>
                        <th><img src="../../../../../assets/recursos/Path 2386.png" alt=""> CREC</th>
                    </tr>
                </thead>
                <tbody *ngFor="let dsoles of distritosSoles">
                    <tr>
                        <td>{{dsoles.distrito}}</td>
                        <td>{{dsoles.YTD_ANT | number}}</td>
                        <td>{{dsoles.YTD_ACT | number}}</td>
                        <td style="color: red; font-weight: bold;">
                            <img src="../../../../../assets/recursos/Group 1130.png" alt="">
                            {{dsoles.CREC | number}}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="grafica dos">
            <div class="barras">
                <h1>Distritos (Soles)</h1>
                <dx-chart id="chart" [dataSource]="distritosSoles" (onPointClick)="onPointClick($event)">
                    <dxi-series valueField="YTD_ANT" name="YTD_ANT" color="#009CDE"></dxi-series>
                    <dxi-series valueField="YTD_ACT" name="YTD_ACT" color="#ABE8F7"></dxi-series>

                    <dxo-common-series-settings argumentField="distrito" type="bar" hoverMode="allArgumentPoints"
                        selectionMode="allArgumentPoints">
                        <dxo-label [visible]="true" [format]="{
                  type: 'fixedPoint',
                  precision: '0'
                }">
                        </dxo-label>
                    </dxo-common-series-settings>
                    <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                    </dxo-legend>
                    <dxo-export [enabled]="true"></dxo-export>
                </dx-chart>
            </div>

        </div>
        <div class="table2">
            <table class="table table-borderless bg-white">
                <thead>
                    <tr>
                        <th><img src="../../../../../assets/recursos/mercados icon.png" alt="">MARCAS</th>
                        <th>YTD ANT</th>
                        <th>YTD ACT</th>
                        <th><img src="../../../../../assets/recursos/Path 2386.png" alt="">CREC</th>
                    </tr>
                </thead>
                <tbody *ngFor="let marca of marcas">
                    <tr>
                        <td>{{marca.MARCA_IMS}}</td>
                        <td>{{marca.YTD_ANT | number}}</td>
                        <td>{{marca.YTD_ACT | number}}</td>
                        <td style="color: red; font-weight: bold;">
                            <img src="../../../../../assets/recursos/Group 1130.png" alt="">
                            {{marca.CREC | number}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="grafica tres">
            <h1>Marcas (Soles)</h1>
            <dx-chart id="chart1" [dataSource]="marcas" (onPointClick)="onPointClick1($event)">
                <dxi-series valueField="YTD_ANT" name="YTD_ANT" color="#009CDE"></dxi-series>
                <dxi-series valueField="YTD_ACT" name="YTD_ACT" color="#ABE8F7"></dxi-series>

                <dxo-common-series-settings argumentField="MARCA_IMS" type="bar" hoverMode="allArgumentPoints"
                    selectionMode="allArgumentPoints">
                    <dxo-label [visible]="true" [format]="{
                  type: 'fixedPoint',
                  precision: '0'
                }">
                    </dxo-label>
                </dxo-common-series-settings>
                <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
                </dxo-legend>
                <dxo-export [enabled]="true"></dxo-export>
            </dx-chart>


        </div>


    </div>

</div>
<br><br><br>