<!-- <div id="graficos">
    <p>Supervisor <span>Equipo</span></p>
    <dx-circular-gauge id="triangleNeedle" [value]="85">
      <dxo-value-indicator type="triangleNeedle" color="#00C2E8">
      </dxo-value-indicator>
      <dxo-geometry [startAngle]="180" [endAngle]="0"> </dxo-geometry>
      <dxo-scale [startValue]="0" [endValue]="100" [tickInterval]="50">
        <dxo-label [customizeText]="customizeText"></dxo-label>
      </dxo-scale>
    </dx-circular-gauge>
  
    <dx-circular-gauge id="triangleNeedle" [value]="85">
      <dxo-value-indicator type="triangleNeedle" color="#009CDE">
      </dxo-value-indicator>
      <dxo-geometry [startAngle]="180" [endAngle]="0"> </dxo-geometry>
      <dxo-scale [startValue]="0" [endValue]="100" [tickInterval]="50">
        <dxo-label [customizeText]="customizeText"></dxo-label>
      </dxo-scale>
    </dx-circular-gauge>
  
    <dx-circular-gauge id="triangleNeedle" [value]="85">
      <dxo-value-indicator type="textCloud" color="#483D8B">
      </dxo-value-indicator>
      <dxo-value-indicator type="triangleNeedle" color="#52E085">
      </dxo-value-indicator>
      <dxo-geometry [startAngle]="180" [endAngle]="0"> </dxo-geometry>
      <dxo-scale [startValue]="0" [endValue]="100" [tickInterval]="50">
        <dxo-label [customizeText]="customizeText"></dxo-label>
      </dxo-scale>
    </dx-circular-gauge>
  </div>
  <div id="grafico-2">
    <div class="long-title">
      <h3>Tendencias</h3>
    </div>
    <div id="chart-demo">
      <dx-chart [dataSource]="architecturesInfo">
        <dxi-series valueField="smp" name="SMP" color="#7F2FAC"></dxi-series>
        <dxi-series valueField="mmp" name="MMP" color="#52E085"></dxi-series>
        <dxi-series valueField="cnstl" name="Cnstl" color="#009CDE"></dxi-series>
        <dxo-common-series-settings #seriesSettings argumentField="year" [type]="types[0]">
        </dxo-common-series-settings>
        <dxo-margin [bottom]="20"></dxo-margin>
        <dxo-common-axis-settings>
          <dxo-grid [visible]="true"></dxo-grid>
        </dxo-common-axis-settings>
        <dxo-legend verticalAlignment="top" horizontalAlignment="right">
        </dxo-legend>
        <dxo-argument-axis [allowDecimals]="false" [axisDivisionFactor]="60">
          <dxo-label>
            <dxo-format type="decimal"></dxo-format>
          </dxo-label>
        </dxo-argument-axis>
        <dxo-export [enabled]="true"></dxo-export>
        <dxo-tooltip [enabled]="true"></dxo-tooltip>
      </dx-chart>
    </div>
  
  
  </div> -->

<div id="graficos">
  <div id="pie">
    <h1>Supervisor<span>Equipo</span></h1>
    <div class="skills-container">
      <div class="circular-progress html"></div>
      <div class="circular-progress css"></div>
      <div class="circular-progress javascript"></div>
    </div>
  </div>
  <div id="tabla">
    <div class="long-title">
      <h3>Tendencias</h3>
    </div>
    <div id="chart-demo">
      <dx-chart [dataSource]="architecturesInfo">
        <dxi-series valueField="smp" name="SMP" color="#7F2FAC"></dxi-series>
        <dxi-series valueField="mmp" name="MMP" color="#52E085"></dxi-series>
        <dxi-series valueField="cnstl" name="Cnstl" color="#009CDE"></dxi-series>
        <dxo-common-series-settings #seriesSettings argumentField="year" [type]="types[0]">
        </dxo-common-series-settings>
        <dxo-margin [bottom]="20"></dxo-margin>
        <dxo-common-axis-settings>
          <dxo-grid [visible]="true"></dxo-grid>
        </dxo-common-axis-settings>
        <dxo-legend verticalAlignment="top" horizontalAlignment="right">
        </dxo-legend>
        <dxo-argument-axis [allowDecimals]="false" [axisDivisionFactor]="60">
          <dxo-label>
            <dxo-format type="decimal"></dxo-format>
          </dxo-label>
        </dxo-argument-axis>
        <dxo-export [enabled]="true"></dxo-export>
        <dxo-tooltip [enabled]="true"></dxo-tooltip>
      </dx-chart>
    </div>
  </div>
</div>