<div id="table-d-perfil">

    <div class="perfil">
        <h6 class="color-azul"><i class="fas fa-arrow-left"></i><a href="">ADRIANCEN RONCEROS, CECILIA</a></h6>
        <div class="bg-white pb-3 iconos">
            <span><i class="fas fa-heart color-azul ms-4 pt-4 mt-1"></i></span><button class="btn bg-azul text-white">
                <p>AA</p>
            </button><span></span><button class="btn bg-white border-azul color-azul">
                <p>PSI</p>
            </button><span></span>
        </div>
        <div class="tableh1 bg-white">
            <table class="table table-hover table-borderless bg-white ms-5">
                <thead>
                    <tr class="color-azulmarino">
                        <th>MERCADO</th>
                        <th>YTD ANT.</th>
                        <th>YTD ACT.</th>
                        <th>%MS ANT.</th>
                        <th>%MS ACT</th>
                        <th>EVO ACT</th>
                        <th><i class="fas fa-chevron-up text-white"></i></th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>TOTAL</td>
                        <td>2727</td>
                        <td>3411</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td>100</td>
                        <td class="arrow"><i class="fas fa-chevron-up"></i></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="tableh2 bg-white">
            <div class="ms-4 fondo">
                <div class="contenido">
                    <table class="table table-hover table-borderless ms-4 text-white">
                        <thead>
                            <tr>
                                <th>MERCADO</th>
                                <th>YTD ANT.</th>
                                <th>YTD ACT.</th>
                                <th>%MS ANT.</th>
                                <th>%MS ACT</th>
                                <th>EVO ACT</th>
                                <th><i style="color:#3ACC6E" class="fas fa-chevron-up text-white"></i></th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>TOTAL</strong></td>
                                <td>2727</td>
                                <td>3411</td>
                                <td>100%</td>
                                <td>100%</td>
                                <td><strong><i class="fas fa-arrow-up text-white"></i>100</strong></td>
                                <td class="arrow blanco"><i class="fas fa-chevron-up blanco"></i></td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="tablebody">
            <table class="table table-hover bg-white ms-5">
                <thead>
                    <tr class="color-azulmarino">
                        <th>MERCADO</th>
                        <th>YTD ANT.</th>
                        <th>YTD ACT.</th>
                        <th>%MS ANT.</th>
                        <th>%MS ACT</th>
                        <th>EVO ACT</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td class="bg-azul-claro color-azul"><strong>NO6A4</strong></td>
                        <td class="bg-azul-claro">2727</td>
                        <td class="bg-azul-claro">3411</td>
                        <td class="bg-azul-claro">100%</td>
                        <td class="bg-azul-claro">100%</td>
                        <td class="bg-azul-claro" style="color: #00B140;"><i class="fas fa-arrow-up"></i><strong>100</strong></td>
                        <td class="arrow"><i class="fas fa-chevron-up"></i></td>
                    </tr>
                    <tr>
                        <td class="">BUSCAPINA</td>
                        <td class="bg-white">2727</td>
                        <td class="bg-whtie">3411</td>
                        <td class="bg-whtie">100%</td>
                        <td class="bg-whtie">100%</td>
                        <td class="color-verde"><i class="fas fa-arrow-up"></i><strong>100</strong></td>
                        <td ></td>
                    </tr>
                    <tr>
                        <td class="bg-whtie">PLIDAN</td>
                        <td class="bg-whtie">2727</td>
                        <td class="bg-whtie">3411</td>
                        <td class="bg-whtie">100%</td>
                        <td class="bg-whtie">100%</td>
                        <td class="color-verde"><i class="fas fa-arrow-up"></i><strong>100</strong></td>
                        <td ></td>
                    </tr>
                    <tr>
                        <td class="bg-whtie">ASPIRINA</td>
                        <td class="bg-whtie">2727</td>
                        <td class="bg-whtie">3411</td>
                        <td class="bg-whtie">100%</td>
                        <td class="bg-whtie">100%</td>
                        <td class="color-verde"><i class="fas fa-arrow-up"></i><strong>100</strong></td>
                        <td ></td>
                    </tr>
                    <tr>
                        <td class="bg-whtie">PANADOL</td>
                        <td class="bg-whtie">2727</td>
                        <td class="bg-whtie">3411</td>
                        <td class="bg-whtie">100%</td>
                        <td class="bg-whtie">100%</td>
                        <td class="color-verde"><i class="fas fa-arrow-up"></i><strong>100</strong></td>
                        <td ></td>
                    </tr>
                        <tr>
                        <td class="bg-whtie">PANADOL</td>
                        <td class="bg-whtie">2727</td>
                        <td class="bg-whtie">3411</td>
                        <td class="bg-whtie">100%</td>
                        <td class="bg-whtie">100%</td>
                        <td class="color-verde"><i class="fas fa-arrow-up"></i><strong>100</strong></td>
                        <td ></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div class="tablebody2 bg-white">
            <table class="table table-hover table-borderless bg-white ms-5">
                <thead>
                    <tr class="color-azulmarino">
                        <th>MERCADO</th>
                        <th>YTD ANT.</th>
                        <th>YTD ACT.</th>
                        <th>%MS ANT.</th>
                        <th>%MS ACT</th>
                        <th>EVO ACT</th>
                        <th><i class="fas fa-chevron-up text-white"></i></th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>GTA521</td>
                        <td>2727</td>
                        <td>3411</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td class="arrow-red" style="color: red !important;"><i class="fas fa-arrow-down"></i><strong>67</strong></td>
                        <td class="color-azul"><i class="fas fa-chevron-down"></i></td>
                    </tr>
                    <tr>
                        <td>TWD123</td>
                        <td>2727</td>
                        <td>3411</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td class="color-verde"><i class="fas fa-arrow-up"></i><strong>100</strong></td>
                        <td class="color-azul"><i class="fas fa-chevron-down"></i></td>
                    </tr>

                    <tr>
                        <td>THD587</td>
                        <td>2727</td>
                        <td>3411</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td class="color-verde"><i class="fas fa-arrow-up"></i><strong>100</strong></td>
                        <td class="color-azul"><i class="fas fa-chevron-down"></i></td>
                    </tr>

                    <tr>
                        <td>6DG654</td>
                        <td>2727</td>
                        <td>3411</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td class="color-verde"><i class="fas fa-arrow-up"></i><strong>100</strong></td>
                        <td class="color-azul"><i class="fas fa-chevron-down"></i></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>


                </tbody>
            </table>
        </div>


    </div>

</div>