<!--  -->
<div id="body">
    <div class="row">
        <div class="card col">
            <header class="card__header">
                <h3 class="card__title">recetas</h3>
            </header>
            <p>Periodo: Del 01/Jun/2021 al 01/Jun/2021</p>
            <p>Actualizado: 01/Jun/2021</p>
        </div>
        <div class="card col">
            <header class="card__header">
                <h3 class="card__title">recetas</h3>
            </header>
            <p>Periodo: Del 01/Jun/2021 al 01/Jun/2021</p>
            <p>Actualizado: 01/Jun/2021</p>
        </div>
        <div class="card col">
            <header class="card__header">
                <h3 class="card__title">recetas</h3>
            </header>
            <p>Periodo: Del 01/Jun/2021 al 01/Jun/2021</p>
            <p>Actualizado: 01/Jun/2021</p>
        </div>
        <div class="card col">
            <header class="card__header">
                <h3 class="card__title">recetas</h3>
            </header>
            <p>Periodo: Del 01/Jun/2021 al 01/Jun/2021</p>
            <p>Actualizado: 01/Jun/2021</p>
        </div>
    </div> 
</div>

<!-- 
<div class="card">
    <header class="card__header">
        <h3 class="card__title">recetas</h3>
    </header>
    <p>Periodo: Del 01/Jun/2021 al 01/Jun/2021</p>
    <p>Actualizado: 01/Jun/2021</p>
</div> -->

<!-- <div class="graph-card">
    <header class="graph-card__header">
        <h3 class="graph-card__title">EVO del último mes</h3>
        <div class="graph-card__container">
            <span class="graph-card__number">81
                <div class="graph-card__detail">DDD</div>
            </span>
            <span class="graph-card__number">104
                <div class="graph-card__detail">Rx</div>
            </span>
        </div>
        <div class="graph-card__graph">
            <span class="graph-card__graph-item"></span>
            <span class="graph-card__graph-item"></span>
            <span class="graph-card__graph-item"></span>
            <span class="graph-card__graph-item"></span>
            <span class="graph-card__graph-item"></span>
            <span class="graph-card__graph-item"></span>
        </div>
    </header>
    <p></p>
    <p></p>
</div> -->
<!--  -->
