*,
::before,
::after {
    box-sizing: inherit;
}
:root {
    box-sizing: border-box;
}

#body{
    display: grid;
    place-content: center;
    background-color: #ccc;
    gap: 2em;

}

/*  */

.card{
    width: 210px !important;
    height: 138px;
    border-radius: 1.5ch;
    overflow: hidden;
    background-color: #fff;
}

.card__header{
    background-color: #962ebe;
    color: #fff;
    aspect-ratio: 16 / 9;
    padding: 1em;
    font-size: 1.5rem;
}

.card__title{
    margin-block: 0;
}

.card > p{
    padding: 1ch;
}

/*  */

.graph-card{
    padding: 1em;
    border-radius: 1ch;
    background-color: #b5dbff;
    color: #0d4585;
    max-width: 22ch;
    position: relative;
    min-height: 10em;
}

.graph-card__container{
    display: flex;
    justify-content: space-between;
}

.graph-card__number{
    font-size: 1.5rem;
}

.graph-card__title {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 500;
}

.graph-card__detail{
    font-size: 0.8rem;
    color: #00c0c0;
}

.graph-card__graph{
   /*  background-color: #000; */
   position: absolute;
   bottom: 0;
   right: 1em;
}

.graph-card__graph-item{
    background-color: #25e2f0;
    display: inline-block;
    width: 1ch;
    height: 1.5em;
}