<br><br>
<div class="container">
    <table id="t-head">
        
  <th></th>
  <th><strong>DDD</strong></th>
  <th><strong>Receta</strong></th>
  <th><strong>Cobertura</strong></th>
  <th></th>
    </table>
    
    <table id="t-head2" class="table table-borderless">
        <thead>
            <tr>
                <th>Consultor</th>
                <th>Evo Cont</th>
                <th>Marcas Cont</th>
                <th>Crec % no Cont</th>
                <th>Marcas no Cont</th>
                <th>EVO</th>
                <th>Marcas</th>
                <th>General</th>
                <th>VIP</th>
                <th>Nota</th>
                <th>Rk</th>
            </tr>
        </thead>
    
    </table>
    
    <table id="body">
    
        <tbody>
            <tr>
                <th>Ana Romero Inojosa </th>
                <td class="arrow"><i class="fas fa-arrow-up"></i>104</td>
                <td></td>
                <td class="arrow"><i class="fas fa-arrow-up"></i>50%</td>
                <td >50%</td>
                <td class="arrow"><i class="fas fa-arrow-up"></i>98</td>
                <td></td>
                <td>96.80%</td>
                <td>100%</td>
                <td>18.6</td>
                <td> </td>
            </tr>
            <tr>
                <th>Ana Romero Inojosa </th>
                <td class="arrow-red"><i class="fas fa-arrow-down"></i>104</td>
                <td></td>
                <td class="arrow"><i class="fas fa-arrow-up"></i>50%</td>
                <td>50%</td>
                <td class="arrow"> <i class="fas fa-arrow-up"></i>98</td>
                <td></td>
                <td>96.80%</td>
                <td>100%</td>
                <td>18.6</td>
                <td> </td>
            </tr>
            <tr>
                <th>Ana Romero Inojosa </th>
                <td class="circle"><i class="fas fa-circle"></i>104</td>
                <td></td>
                <td class="circle"><i class="fas fa-circle"></i>50%</td>
                <td>50%</td>
                <td class="circle"><i class="fas fa-circle"></i>98</td>
                <td></td>
                <td>96.80%</td>
                <td>100%</td>
                <td>18.6</td>
                <td> </td>
            </tr>
            <tr>
                <th>Ana Romero Inojosa </th>
                <td class="arrow"><i class="fas fa-arrow-up"></i>104</td>
                <td></td>
                <td class="arrow"><i class="fas fa-arrow-up"></i>50%</td>
                <td>50%</td>
                <td class="arrow"><i class="fas fa-arrow-up"></i>98</td>
                <td></td>
                <td>96.80%</td>
                <td>100%</td>
                <td>18.6</td>
                <td> </td>
            </tr>
            <tr>
                <th>Ana Romero Inojosa </th>
                <td class="arrow-red"><i class="fas fa-arrow-down"></i>104</td>
                <td></td>
                <td class="arrow"><i class="fas fa-arrow-up"></i>50%</td>
                <td>50%</td>
                <td class="circle"><i class="fas fa-circle"></i>98</td>
                <td></td>
                <td>96.80%</td>
                <td>100%</td>
                <td>18.6</td>
                <td> </td>
            </tr>
        </tbody>
    
    </table> 

</div>