.container{
    font-size: 14px;
    margin-bottom: 50px;
}
.table{
    border-radius: 0px 0px 17px 17px;
}   
#t-head , #t-head2{
    background: #E0E2EC;
}
#t-head2{
    margin-bottom: 8px;
}


table {
    font-weight: lighter;
    background: white;
    width: 92%;
    margin: 0px auto;
    border-radius: 17px;
    color: #004F6D;
  }

  #t-head{
     border-radius: 17px 17px 0px 0px;
     text-align: center; 
  }
 

   #t-head th{
    font-weight: normal;
   }
   #t-head th:nth-child(1) {
    width: 14%;
  }
  #t-head th:nth-child(2) {
    width: 32%;
    border-bottom: 2px solid rgb(61, 148, 189);
  }
  #t-head th:nth-child(3) {
  width: 16%;
  border-bottom: 2px solid rgb(92, 187, 92);
}
#t-head th:nth-child(4) {
    width: 18%;
    border-bottom: 2px solid rgb(229, 238, 109);
  }


tr th{
    font-weight: normal;
}
  th, td {
    padding: 10px;

  }

 #body th,td{
    border-bottom: 1px solid #d6dfeb;
 }

  thead th:nth-child(1) {
    width: 19%;
  }
  thead th:nth-child(3) {
    width: 7%;
  }
  thead th:nth-child(4) {
    width: 7%;
  }
  thead th:nth-child(5) {
    width: 9%;
  }
  thead th:nth-child(7) {
    width: 7%;
  }  thead th:nth-child(11) {
    width: 9%;
  }

  tbody td:nth-child(1) {
    width: 11%;
  }
  tbody td:nth-child(2) {
    width: 10%;
  }
  tbody td:nth-child(3) {
    width: 7%;
  }
  tbody td:nth-child(4) {
    width: 7%;
  }
  tbody td:nth-child(5) {
    width: 9%;
  }
  tbody td:nth-child(7) {
    width: 9%;
  }  
  tbody td:nth-child(11) {
    width: 9%;
  }


thead{
    margin-bottom: 10px;
}

.circle svg{
    color: #FCD657;
    height: 10px;
}
