<br><br><br><br>

<div id="table-perfil">
    <div class="perfil">
        <div id="head">
            <table class="table table-hover table-borderless bg-white">
                <thead>
                    <tr>
                        <th class="input1 mt-2"><div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Buscar un medico" aria-label="Username" aria-describedby="basic-addon1">
                            <span class="input-group-text bg-white rounded-end" id="basic-addon1"><i class="fas fa-search"></i></span>
                             
                        </div>
                        </th>
                        <th class="box"><p>Filtrar por:</p>
                            <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle bg-white" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                              Favoritos
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </div></th>
                        <th class="box"><p>Ordenar por:</p>
                            <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle bg-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Especialidad
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </div></th>
                     
                    </tr>
                </thead>
             </table>
        </div>
        <div id="body">
            <table class="table table-hover table-borderless bg-white">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>YTD ANT</th>
                        <th>YTD ACT.</th>
                        <th>%MS ANT.</th>
                        <th>%MS ACT.</th>
                        <th>EVO ACT.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-azul-claro">
                        <td><strong>A</strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ADRIANZEN RONCEROS CECILIA <p><i class="fas fa-heart"></i></p></td>
                        <td>522</td>
                        <td>961</td>
                        <td>7.1%</td>
                        <td>2.2%</td>
                        <td class="arrow"><i class="fas fa-arrow-up"></i>164<button class="btn bg-info text-white">AA</button> <button class="btn text-info bg-white border-info">PSI</button></td>
                        <td><i class="fas fa-chevron-right" style="margin-top: 20px !important;"></i></td>
                    </tr>
                    <tr>
                        <td>ADRIANZEN RONCEROS CECILIA <p><i class="far fa-heart"></i></p></td>
                        <td>62</td>
                        <td>96</td>
                        <td>0.1%</td>
                        <td>0.2%</td>
                        <td class="arrow-red"><i class="fas fa-arrow-down"></i>164<button class="btn bg-info text-white">AA</button> <button class="btn text-info bg-white border-info">PSI</button></td>
                        <td><i class="fas fa-chevron-right" style="margin-top: 20px !important;"></i></td>
                    </tr>
                    <tr>
                        <td>ADRIANZEN RONCEROS CECILIA <p><i class="far fa-heart"></i></p></td>
                        <td>62</td>
                        <td>96</td>
                        <td>0.1%</td>
                        <td>0.2%</td>
                        <td class="arrow"><i class="fas fa-arrow-up"></i>164 <button class="btn bg-info text-white">AA</button> <button class="btn text-info bg-white border-info">PSI</button></td>
                        <td><i class="fas fa-chevron-right" style="margin-top: 20px !important;"></i></td>
                    </tr>
                    <tr class="bg-azul-claro">
                        <td><strong>B</strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ADRIANZEN RONCEROS CECILIA <p><i class="fas fa-heart"></i></p></td>
                        <td>522</td>
                        <td>961</td>
                        <td>7.1%</td>
                        <td>2.2%</td>
                        <td class="arrow"><i class="fas fa-arrow-up"></i>164<button class="btn bg-info text-white">AA</button> <button class="btn text-info bg-white border-info">PSI</button></td>
                        <td><i class="fas fa-chevron-right" style="margin-top: 20px !important;"></i></td>
                    </tr>
                    <tr>
                        <td>ADRIANZEN RONCEROS CECILIA <p><i class="far fa-heart"></i></p></td>
                        <td>62</td>
                        <td>96</td>
                        <td>0.1%</td>
                        <td>0.2%</td>
                        <td class="arrow"><i class="fas fa-arrow-up"></i>164 <button class="btn bg-info text-white">AA</button> <button class="btn text-info bg-white border-info">PSI</button></td>
                        <td><i class="fas fa-chevron-right" style="margin-top: 20px !important;"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>  
    </div>
</div>