.graficoshome{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -220px;
}
.resultado{
    height: 200px;
    width: 20px;
}
#cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#contenedor{
    width: 1088px;
    height: 253px;
    border-radius: 10px;
    background: #D6F1F8;
}

.img1{
    margin-left: -20px;
    margin-top: -50px;
}
.img1 img{
    height: 190px;
}

#contenedor .items{
    height: 144px;
    box-shadow: 0.5px 1.5px rgb(160, 211, 219);
    text-align: center;
    width: 124px;
    margin-left: 10px;
    margin-bottom: 20px;
}

#contenedor .titulo{
    font-weight: 700;
    font-size: 21px;
    color: #004F6D;
    margin-top: 10px;
    margin-bottom: 5px;
}

#contenedor .personas{
    color: #009CDE;
    font-size: 32px;
    font-weight: normal;
}
#contenedor .categoria{
    font-weight: normal;
    color:#004F6D;
    font-size: 13px;
    margin-top: -5px;
}

.option{
    width: 1088px;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: -15px;
}
.t-op{
    font-size: 14px;
    color: #009CDE;
margin-bottom: -2px;
}
#estado{
    font-size: 14px;
    color: #004F6D;
}
.t-option{
    flex-basis: 83%;
}
.t-option h1{
    font-weight: bold;
    color: #004F6D;
    font-size: 20px;
}
.options{
    flex-basis: 17%;
}
.opciones{
    height: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-bottom: 18px;
}