<!-- https://js.devexpress.com/Demos/WidgetsGallery/Demo/Charts/SideBySideBar/Angular/Light/ -->

<dx-chart
  id="chart"
  [dataSource]="grossProductData"
  (onPointClick)="onPointClick($event)"
>
  <dxi-series valueField="year2018" name="2018" color="#009CDE"></dxi-series>
  <dxi-series valueField="year2017" name="2017"></dxi-series>

  <dxo-common-series-settings
    argumentField="state"
    type="bar"
    hoverMode="allArgumentPoints"
    selectionMode="allArgumentPoints"
  >
    <dxo-label
      [visible]="true"
      [format]="{
        type: 'fixedPoint',
        precision: '0'
      }"
    >
    </dxo-label>
  </dxo-common-series-settings>
  <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
  </dxo-legend>
  <dxo-export [enabled]="true"></dxo-export>
</dx-chart>
