<div id="sidebar">
    <!-- <div class="toggle-btn" (click)="openNavbar()">
      <span><i class="fas fa-bars" ></i></span> 
    </div> -->
    <ul>
      <li>
        <!-- <img src="https://media.discordapp.net/attachments/907817980803555378/916001300880187472/unknown.png" 
        alt="Logo Fazt" 
        class="logo"> -->
      </li>
      <li><strong><a href="#">Recetas</a></strong></li>
      <li><strong>DDD</strong></li>
      <li><strong>Neosalud</strong></li>
      <li><strong>Inretail</strong></li>
    </ul>
</div>