/* Ajustes Generales */
*{
    text-decoration: none;
}

    #table-d-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
}
    #table-d-perfil .perfil {
    margin-left: 50px;
    flex-basis: 57%;
}

table{
    font-size: 12px;
}
td{
    font-size: 13px;
    transition: 400ms all;
}

/***** Cabezera */
/* First */
/* Second */
.tableh1{
    background: #E0E2EC;
    padding-top: 35px;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    height: 70px;
}
.tableh1 svg{
    color: #E0E2EC !important;
}

.tableh1 table{
    width: 720px;
}
.tableh1 th:nth-child(1){
    width: 19%;
}

/* Third */

.tableh2{
    background: #E0E2EC;
    height: 56px;
    overflow: hidden;
}
.fondo{
    border-radius: 17px;
    border: 1px solid #3ACC6E;
    width: 700px;
    height: 35px;
    background: #3ACC6E;

}
.contenido{
    border-radius: 17px;
    margin-top: -34px;
}
.contenido th:nth-child(1){
    width: 19%;
}
.contenido table{
    margin-bottom: 50px;
}
.tableh2 table{
    width: 720px;
}

/***** Cuerpo */

.tablebody{
    border-radius: 0px 0px 17px 17px;
    background: #F5F6FA;
    overflow: hidden;
}
.tablebody table{
    margin-top: -40px;
    width: 720px;
}
.tablebody td {
    color: #6292A5;
}

.tablebody2{
    background: #F5F6FA;
    overflow: hidden;
}
.tablebody2 table{
    width: 770px !important;
    margin-top: -40px;
    width: 720px;
}
.tablebody2 td {
    border-bottom: 1px solid #F4F4F7;
    color: #6292A5;
}
.tableb td,th{
    padding-left: 40px;
}
/* Color */
.bg-azul{
    background: #009CDE;
}
.bg-azul-light{
    color: #E0E2EC !important;
}
.bg-azul-claro{
    background: #D7F1F8;
}
.color-verde{
    color:#3ACC6E !important;
}
.color-azul{
    color:#009CDE !important;
}
.color-azulmarino{
    color: #1F647F;
}
.border-azul{
    border:1px solid #009CDE;
}
