<div id="table-d-perfil">

    <div class="perfil">
        <h6 class="color-azul"><i class="fas fa-arrow-left"></i><a href="">Marcas <strong>B01C1</strong></a></h6>
        <div class="tableh1">
            <table class="table table-hover table-borderless ms-3">
                <thead>
                    <tr class="color-azulmarino">
                        <th>MARCA</th>
                        <th>YTD ANT.</th>
                        <th>YTD ACT.</th>
                        <th>%MS ANT.</th>
                        <th>%MS ACT</th>
                        <th>EVO ACT</th>
                        <th><i class="fas fa-chevron-up text-white"></i></th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td><strong>TOTAL</strong></td>
                                <td>2727</td>
                                <td>3411</td>
                                <td>100%</td>
                                <td>100%</td>
                                <td><strong><i class="fas fa-arrow-up"></i>100</strong></td>
                      
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="tableh2">
            <div class="ms-4 fondo">
                <div class="contenido">
                    <table class="table table-borderless ms-4 text-white">
                        <thead>
                            <tr>
                                <th>MARCA</th>
                                <th>YTD ANT.</th>
                                <th>YTD ACT.</th>
                                <th>%MS ANT.</th>
                                <th>%MS ACT</th>
                                <th>EVO ACT</th>
                                <th><i class="fas fa-chevron-up"></i></th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>TOTAL</strong></td>
                                <td>2727</td>
                                <td>3411</td>
                                <td>100%</td>
                                <td>100%</td>
                                <td><strong><i class="fas fa-arrow-up"></i>100</strong></td>
                                <!-- <td><i class="fas fa-chevron-up bg-azul-light"></i></td> -->
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="tablebody">
        <div class="tablebody2 bg-white">
            <table class="table tableb table-hover table-borderless bg-white">
                <thead>
                    <tr class="color-azulmarino">
                        <th>MARCA</th>
                        <th>YTD ANT.</th>
                        <th>YTD ACT.</th>
                        <th>%MS ANT.</th>
                        <th>%MS ACT</th>
                        <th>EVO ACT</th>
                        <th><i class="fas fa-chevron-up text-white"></i></th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td class="pt-3">ASSA <i class="ms-3 fas fa-paperclip"></i><i class="ms-1 fas fa-thumbtack"></i></td>
                        <td class="pt-3">2727</td>
                        <td class="pt-3">3411</td>
                        <td class="pt-3">100%</td>
                        <td class="pt-3">100%</td>
                        <td class="arrow-red pt-3" style="color: red !important;"><i class="fas fa-arrow-down"></i><strong>67</strong></td>
                        <td class="color-azul pt-3"><i class="fas fa-chevron-down"></i></td>
                    </tr>
                    <tr>
                        <td>ASPIRINA</td>
                        <td>2727</td>
                        <td>3411</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td class="color-verde"><i class="fas fa-arrow-up"></i><strong>100</strong></td>
                        <td class="color-azul"><i class="fas fa-chevron-down"></i></td>
                    </tr>

                    <tr>
                        <td>CARDIO ASP</td>
                        <td>2727</td>
                        <td>3411</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td class="color-verde"><i class="fas fa-arrow-up"></i><strong>100</strong></td>
                        <td class="color-azul"><i class="fas fa-chevron-down"></i></td>
                    </tr>

                    <tr>
                        <td>ECOTRIM</td>
                        <td>2727</td>
                        <td>3411</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td class="color-verde"><i class="fas fa-arrow-up"></i><strong>100</strong></td>
                        <td class="color-azul"><i class="fas fa-chevron-down"></i></td>
                    </tr>
                    <tr>
                        <td>ASSA 81</td>
                        <td>2727</td>
                        <td>3411</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td class="color-verde"><i class="fas fa-arrow-up"></i><strong>100</strong></td>
                        <td class="color-azul"><i class="fas fa-chevron-down"></i></td>
                    </tr>
                    <tr>
                        <td>ASSA 81</td>
                        <td>2727</td>
                        <td>3411</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td class="color-verde"><i class="fas fa-arrow-up"></i><strong>100</strong></td>
                        <td class="color-azul"><i class="fas fa-chevron-down"></i></td>
                    </tr>
                    <tr>
                        <td>ASSA 81</td>
                        <td>2727</td>
                        <td>3411</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td class="color-verde"><i class="fas fa-arrow-up"></i><strong>100</strong></td>
                        <td class="color-azul"><i class="fas fa-chevron-down"></i></td>
                    </tr>
                    <tr>
                        <td>ASSA 81</td>
                        <td>2727</td>
                        <td>3411</td>
                        <td>100%</td>
                        <td>100%</td>
                        <td class="color-verde"><i class="fas fa-arrow-up"></i><strong>100</strong></td>
                        <td class="color-azul"><i class="fas fa-chevron-down"></i></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>


                </tbody>
            </table>
        </div>


    </div>

</div>