<div id="sidebar">
  <ul>
    <li>
      <div>
        <strong>
          <a [routerLink]="['/' + generalService.generic_data.consultant?.consultant_data.user_name + '/dashboard']">
            <i class="fas fa-arrow-left"></i> Volver
          </a>
        </strong>
      </div>
    </li>
    <li>
      <strong>
        <a [routerLink]="['/' + generalService.generic_data.consultant?.consultant_data.user_name + '/detail/recipes']">Recetas
        </a>
      </strong>
    </li>
    <!-- <li><strong><a [routerLink]="['/' + generalService.generic_data.consultant?.consultant_data.user_name + '/detail/ddd']">DDD</a> </strong></li> -->
    <li>
      <strong>
        <a
          [routerLink]="['/' + generalService.generic_data.consultant?.consultant_data.user_name + '/detail/neosalud']">Neosalud
        </a>
      </strong>
    </li>
    <li>
      <strong>
        <a
          [routerLink]="['/' + generalService.generic_data.consultant?.consultant_data.user_name + '/detail/inretail']">Inretail
        </a>
      </strong>
    </li>
    <li>
      <strong>
        <a [routerLink]="['/' + generalService.generic_data.consultant?.consultant_data.user_name +
          '/detail/inbuild']">Build...
        </a>
      </strong>
    </li>
  </ul>
</div>
